{{ $title := .title }}
{{ $alt := .alt | default $title }}
{{ $class := .class | default $title }}
{{ $image := .image | default $title }}
{{ $content := .content }}
<div class="callout-container {{ $class }}">
  <div class="callout-img-container {{ $class }}">
    <img class="callout-img {{ $class }}" title="{{ $title }}" alt="{{ $alt }}" src="/images/{{ $image }}.png">
  </div>
  <div class="callout-content {{ $class }}">{{ $content | markdownify }}</div>
</div>
