{{ with .Params }}

<div id="contact-form-container" data-section="contact">
  <div class="contact-form message">
    <p>{{ .intro | markdownify }}</p>
  </div>

  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;">
  </iframe>

  <form class="contact-form" id="contact-form" action="" method="POST" target="hidden_iframe">
    <input type="hidden" name="real-action" value="{{ .form_id }}">
    <noscript>
      "
      <style>#contact-form * :not(.antibot-message) { display: none !important; }</style>
      <div class="antibot-no-js antibot-message antibot-message-warning">You must have JavaScript enabled to use this form.</div>
      "
    </noscript>

    {{ range .fields }}
      {{ if (eq .type "textarea") }}
        {{ partial "form-textarea.html" . }}
      {{ else }}
        {{ partial "form-field.html" . }}
      {{ end }}
    {{ end }}

    <input id="contact-url" class="form-control" type="text" name="contact-url" title="Leave this field blank.">

    <div class="form-group">
      <button id="contact_submit" type="button" class="btn btn-primary btn-outline"><i class="fa fa-envelope-o"></i> Send Message</button>
    </div>

  </form>
  <div id="contact_confirm" class="container" style="display: none;">
    <div class="text-center alert alert-info">
      <p>{{ .confirm | markdownify }}</p>
    </div>
  </div>
</div>

{{- $assetBusting := not .Site.Params.disableAssetsBusting -}}
<script src="{{"js/contact.js"| relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script type="text/javascript">
  $("form#contact-form #contact_submit").click(function(event) {
    var form = document.getElementById("contact-form");
    var data = new FormData(form);
    var url = data.get("contact-url");

    // Pretend the submission worked regardless
    $("#contact_submit").prop("disabled", true);
    $("#contact_form").slideUp();
    $("#contact_confirm").slideDown();

    // Check honeypot field
    if (url) {
      // This doesn't look like a human submission!
      event.preventDefault();
      return false;
    } else {
      form.submit();
      return true;
    }
  });
</script>

{{ end}}
