{{- with . -}}
{{- $id := .id -}}
{{- $label := .label -}}
{{- $placeholder := .placeholder | default $label -}}
{{- $name := .name -}}
{{- $type := .type | default "text" -}}
      <div class="form-group">
        <label for="{{ $id }}" class="visuallyhidden">{{ $label }}</label>
        <textarea id="{{ $id }}" class="form-control" cols="30" rows="7" placeholder="{{ $placeholder }}" name="{{ $name }}"></textarea>
      </div>
{{- end -}}
