{{- with . -}}
{{- $id := .id -}}
{{- $label := .label -}}
{{- $placeholder := .placeholder | default $label -}}
{{- $name := .name -}}
{{- $type := .type | default "text" -}}
      <div class="form-group">
        <label for="{{ $id }}" class="visuallyhidden">{{ $label }}</label>
        <input id="{{ $id }}" class="form-control" placeholder="{{ $placeholder }}" type="{{ $type }}" name="{{ $name }}">
      </div>
{{- end -}}
