{{ $href := .Get "href"}}
{{ $language := .Page.Language.Lang }}
{{ $path_start := substr $href 0 4}}

{{ if or (eq $path_start "/fil") (eq $path_start "http")}}
<a href="{{ $href }}" class="btn btn-default">{{ .Inner }}</a>
{{ else }}
	{{ if eq $language "en"}}
<a href="{{ $href }}" class="btn btn-default">{{ .Inner }}</a>
	{{ else }}
<a href="/{{$language}}{{ $href }}" class="btn btn-default">{{ .Inner }}</a>
	{{ end }}
{{ end}}