{{- $raw_path := .Get 0 -}}
{{- $path := urls.Parse $raw_path -}}
{{- with .Site.GetPage $path.Path -}}
{{ $language := .Page.Language.Lang }}

<div class="go-back-wrapper">

{{ if eq $language "en"}}
  <i class="fa fa-angle-double-left"></i> {{ T "Go-back-pre" }} <em><strong><a href= "{{ $raw_path }}">{{ .Title}}</a></strong></em> {{ T "Go-back-post" }}
 {{ else }}
  <i class="fa fa-angle-double-left"></i> {{ T "Go-back-pre" }} <em><strong><a href= "/{{ $language }}{{ $raw_path }}">{{ .Title}}</a></strong></em> {{ T "Go-back-post" }}
 {{ end }}  
</div>
{{- end -}}