{{- $raw_path := .Get 0 -}}
{{- $path := urls.Parse $raw_path -}}
{{- with .Site.GetPage $path.Path -}}
{{ $language := .Page.Language.Lang }}
{{ $prepend :=  T "Go-on"  }}


<div class="go-on-wrapper">

{{ if ne $language "en"}}
  <i class="fa fa-angle-double-right"></i>{{ printf "_%s **[%s](/%s%s)**._" $prepend .Title .Language.Lang $path | markdownify }}
{{ else }}
  <i class="fa fa-angle-double-right"></i>{{ printf "_Go on to read about **[%s](%s)**._" .Title $path | markdownify }}
{{ end }}
</div>
{{- end -}}
