{{/* This wrapper is required to remove extra linebreaks in output. */}}
{{- with . -}}
{{- $name := .Get 0 -}}
<a class="name-header-offset" name="{{ $name }}"></a><a class="name no-highlight"> {{ $name }}</a>
{{- end -}}
