{{- $pages := .Page.Parent.Pages -}}
{{- $this_url := .Page.URL -}}
<div class="siblings">
  {{- range $pages.ByWeight -}}
    {{- if ne .URL $this_url -}}
      <a href="{{ .URL }}" class="btn btn-default sibling">{{ .LinkTitle }}</a>
    {{- end -}}
  {{- end -}}
</div>
