{{/* This wrapper is required to remove extra linebreaks in output. */}}
{{- with . -}}
{{- $name := .Get "name" -}}
{{- $href := .Get "href" -}}
{{ $language := .Page.Language.Lang }}
{{- $anchor := .Get "anchor" | default $name -}}
{{ if eq $language "en"}}
<a class="story-header-offset" name="{{ $name }}"></a><a href="{{ $href }}#{{ $anchor }}" class="story">{{ .Inner | default $name }}</a>
{{ else }}
<a class="story-header-offset" name="{{ $name }}"></a><a href="/{{ $language }}{{ $href }}#{{ $anchor }}" class="story">{{ .Inner | default $name }}</a>
{{ end }}

{{- end -}}
